.git/
.libs/
autom4te.cache/
build/
modules/

Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
run-tests.php
invariant_php.dep
invariant_php.la
invariant_php.lo
libtool

*.lo
*.o
*.la
*.a
*.so
*.dep
*.gcno
*.gcda
*.dirstamp
*.stamp
.deps/

.DS_Store
.idea/
.vscode/
*.swp
